body{
    background-color: grey;
}

main{
    overflow-y: scroll;
    overflow-x: hidden;
    color: grey;
    margin: auto;
    text-align: center;
    width: 50%;
    height: 85vh;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;

}

main::-webkit-scrollbar {
    display: none;
}

#heading{
    padding: 10px;
    margin-top: -4px;
    font-size: 2rem;
    font-weight: 500;
    font-family: sans-serif;
}

.input_div{
    text-align: start;
}

#heading1, #heading2 , #heading3{
    font-size: small;
    font-family: cursive;
    text-transform: uppercase;
}

#due-date , #category{
    color: grey;
}

#first_div{
    border-top: 0.1px solid rgb(211,211,211);
    border-bottom: 0.1px solid rgb(211,211,211);
    padding: 15px;
    padding-bottom: 10px;
}

#first_div:focus-within{
font-size: 14px;
 background-color: rgb(92%, 93%, 94%); 
 transition: linear 0.1s;
}

#description{
    color: rgb(211,211,211);
    border: none;
    outline: none;
    height: 30px;
    width: 100%;
    overflow: hidden;
}
 ::placeholder{
     color: lightgray;
 }
.input_text:focus{
    color: grey;
    font-size: 15px;
    background-color: rgb(92%, 93%, 94%); 
    transition: linear 0.1s;
}

.flex-container{
    display: flex;
  flex-wrap: nowrap;
}

#second_div{
    padding: 15px;
    width: 45%;
    border-right: 0.1px solid rgb(211,211,211);
}

#second_div,#category:hover,#due-date{
    cursor: pointer;
}

#second_div:focus-within{
    font-size: 14px;
     background-color: rgb(92%, 93%, 94%); 
     transition: linear 0.1s;
}


#category{
    outline: none;
    border: none;
    font-weight: bold;
    width: 100%;
}

.white{
    background-color: white;
}

#category:focus{
    font-size: 14px;
     background-color: rgb(92%, 93%, 94%); 
     transition: linear 0.1s;
}


#third_div{
    padding: 15px;
    width: 50%;
}

#third_div:focus-within{
    font-size: 14px;
    background-color: rgb(92%, 93%, 94%); 
    transition: linear 0.1s;
}

#due-date{
    outline: none;
    border: none;
    font-weight: bold;
    width: 100%;
}

#due-date:focus{
    font-size: 14px;
    background-color: rgb(92%, 93%, 94%); 
    transition: linear 0.1s;
}

button{
    outline: none;
    border: none;
    box-shadow: none;
}
#button{
    margin: auto;
    border-top: 0.1px solid rgb(211,211,211);
    border-bottom: 0.1px solid rgb(211,211,211);
    padding: 30px;
}

#add-button{
    padding-left: 20px;
    margin-left: 147.292;
    padding-right: 20px;
}

#del-button{
    background-color:rgb(93%, 21%, 12%) ;
    color: white;
    padding: 15px;
    border-radius: 5px;
}
#del-button:hover{
    background-color: rgb(187, 44, 25) ;
    cursor: pointer;
}

button{
    border: none;
    box-shadow: none;
    padding: 15px;
    border-radius: 5px;
    background-color:rgb(27%, 27%, 27%);
    color: white;
}

button:hover{
    background-color:rgb(53, 52, 52) ;
    cursor: pointer;
}

li{
    list-style-type: none;
}

.list{
    text-align: start;
    padding: 10px;
    border-bottom: 0.1px solid rgb(211,211,211);
    height: 40.667;
    padding-left: 11px;
    width: 557.667;
    margin-left: 19px;
}

.list-category{
    background-color: darkgoldenrod;
    text-align: center;
    float:right;
   padding: 10px;
   color: white;
   border-radius: 2px;
   width: 81px;
   height: 20px;
}

.list-date{
    color: rgb(71%, 76%, 77%);
    display: block;
    margin-left: 5%;
    transform: scale(0.75);
    transform-origin: left;
}

#calendar{
    transform: scale(1.3);
}