body{
    background-color: grey;
}

/* main section*/
main{
    overflow-y: scroll;
    overflow-x: hidden;
    color: grey;
    margin: auto;
    text-align: center;
    width: 50%;
    height: 85vh;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;

}

main::-webkit-scrollbar {
    display: none;
}

/* TODO App heading */
#heading{
    padding: 10px;
    margin-top: -4px;
    font-size: 2rem;
    font-weight: 500;
    font-family: sans-serif;
}

.input_div{
    text-align: start;
}

/* sub headings */
#heading1, #heading2 , #heading3{
    font-size: small;
    font-family: cursive;
    text-transform: uppercase;
}

#due-date , #category{
    color: grey;
}

/* description box */
#first_div{
    border-top: 0.1px solid rgb(211,211,211);
    border-bottom: 0.1px solid rgb(211,211,211);
    padding: 15px;
    padding-bottom: 10px;
}

#first_div:focus-within{
font-size: 14px;
 background-color: rgb(92%, 93%, 94%); 
 transition: linear 0.1s;
}

#description{
    color: rgb(211,211,211);
    border: none;
    outline: none;
    height: 30px;
    width: 100%;
    overflow: hidden;
}
 ::placeholder{
     color: lightgray;
 }
.input_text:focus{
    color: grey;
    font-size: 15px;
    background-color: rgb(92%, 93%, 94%); 
    transition: linear 0.1s;
}

.flex-container{
    display: flex;
  flex-wrap: nowrap;
}

/* choose category box */
#second_div{
    padding: 15px;
    width: 45%;
    border-right: 0.1px solid rgb(211,211,211);
}

#second_div,#category:hover,#due-date{
    cursor: pointer;
}

#second_div:focus-within{
    font-size: 14px;
     background-color: rgb(92%, 93%, 94%); 
     transition: linear 0.1s;
}

#category{
    outline: none;
    border: none;
    font-weight: bold;
    width: 100%;
}

.white{
    background-color: white;
}

#category:focus{
    font-size: 14px;
     background-color: rgb(92%, 93%, 94%); 
     transition: linear 0.1s;
}

/* choose date box */
#third_div{
    padding: 15px;
    width: 50%;
}

#third_div:focus-within{
    font-size: 14px;
    background-color: rgb(92%, 93%, 94%); 
    transition: linear 0.1s;
}

#due-date{
    outline: none;
    border: none;
    font-weight: bold;
    width: 100%;
}

#due-date:focus{
    font-size: 14px;
    background-color: rgb(92%, 93%, 94%); 
    transition: linear 0.1s;
}

button{
    outline: none;
    border: none;
    box-shadow: none;
}
#button{
    margin: auto;
    border-top: 0.1px solid rgb(211,211,211);
    border-bottom: 0.1px solid rgb(211,211,211);
    padding: 30px;
}

/* add item */
#add-button{
    padding-left: 20px;
    margin-left: 147.292;
    padding-right: 20px;
}

/* delete item */
#del-button{
    background-color:rgb(93%, 21%, 12%) ;
    color: white;
    padding: 15px;
    border-radius: 5px;
}
#del-button:hover{
    background-color: rgb(187, 44, 25) ;
    cursor: pointer;
}

.aform{
    display: inline !important;
}

button{
    border: none;
    box-shadow: none;
    padding: 15px;
    border-radius: 5px;
    background-color:rgb(27%, 27%, 27%);
    color: white;
}

button:hover{
    background-color:rgb(53, 52, 52) ;
    cursor: pointer;
}

li{
    list-style-type: none;
}

/* list items */
.list{
    text-transform: capitalize;
    text-align: start;
    padding: 10px;
    border-bottom: 0.1px solid rgb(211,211,211);
    height: 40.667;
    padding-left: 11px;
    width: 557.667;
    margin-left: 19px;
}

.list-category{
    text-align: center;
    float:right;
   padding: 10px;
   color: white;
   border-radius: 2px;
   width: 81px;
   height: 20px;
}

.list-date{
    color: rgb(71%, 76%, 77%);
    display: block;
    margin-left: 7%;
    transform: scale(0.75);
    transform-origin: left;
}

#calendar{
    transform: scale(1.3);
}

/* custom checkbox */
.container {
    position: relative;
    padding-left: 35px;
    margin-bottom: 10px;
    cursor: pointer;
    /* font-size: 15px; */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    border: 2px solid gray;
    border-radius: 5px;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark{
    background-color: rgb(21, 218, 208);
    border: 2px solid rgb(21, 218, 208);
  }

  .container input:checked + span{
      text-decoration: line-through;
      color: rgb(211,211,211);
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }