body{
    background-color: grey;
}

main{
    color: grey;
    margin: auto;
    text-align: center;
    width: 50%;
    height: 70%;
    min-width: 100px;
    min-height: 500px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;

}

#heading{
    padding: 10px;
    margin-top: -4px;
    font-size: 2rem;
    font-weight: 500;
    font-family: sans-serif;
}

.input_div{
    text-align: start;
}

#heading1, #heading2 , #heading3{
    font-size: small;
    font-family: cursive;
    text-transform: uppercase;
}

#due-date , #category{
    color: grey;
}

#first_div{
    border-top: 0.1px solid gray;
    border-bottom: 0.1px solid gray;
    padding: 20px;
    padding-bottom: 10px;
}

#first_div:focus-within{
font-size: 14px;
 background-color: rgb(92%, 93%, 94%); 
 transition: linear 0.1s;
}

#description{
    color: gray;
    border: none;
    outline: none;
    height: 30px;
    width: 100%;
    overflow: hidden;
}
 ::placeholder{
     color: lightgray;
 }
.input_text:focus{
    color: grey;
    font-size: 15px;
    background-color: rgb(92%, 93%, 94%); 
    transition: linear 0.1s;
}






#second_div{
    display: inline-flex;
    width: 40%;
    padding: 20px;
    border-right: 0.1px solid gray;
}

#second_div,#category:hover{
    cursor: pointer;
}

#second_div:focus-within{
    font-size: 14px;
     background-color: rgb(92%, 93%, 94%); 
     transition: linear 0.1s;
}

#category{
    outline: none;
    border: none;
    padding: 10px;
    font-weight: bold;
}

#category:focus{
    font-size: 14px;
     background-color: rgb(92%, 93%, 94%); 
     transition: linear 0.1s;
}


#third_div{
    margin-left: -4px;
    padding-left: 8px;
    padding-top: 20px;
    padding-bottom: 39px;
}

#third_div:focus-within{
    font-size: 14px;
    background-color: rgb(92%, 93%, 94%); 
    transition: linear 0.1s;
}

#due-date{
    margin-left: 34px;
    outline: none;
    border: none;
    height:55px;
    width: 35%;
    font-weight: bold;
}

#due-date:focus{
    font-size: 14px;
    background-color: rgb(92%, 93%, 94%); 
    transition: linear 0.1s;
}

button{
    outline: none;
    border: none;
    box-shadow: none;
}
#button{
    margin: auto;
    border-top: 0.1px solid gray;
    border-bottom: 0.1px solid gray;
    padding: 30px;
}

#add-button{
    margin-left: 26%;
}

#del-button{
    background-color:rgb(93%, 21%, 12%) ;
    color: white;
    padding: 15px;
    border-radius: 5px;
}
#del-button:hover{
    background-color: rgb(187, 44, 25) ;
    cursor: pointer;
}

button{
    border: none;
    box-shadow: none;
    padding: 15px;
    border-radius: 5px;
    background-color:rgb(27%, 27%, 27%);
    color: white;
}

button:hover{
    background-color:rgb(53, 52, 52) ;
    cursor: pointer;
}
